<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>蓝牙.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEA0D6991CA0E4F400E42C3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEA0D6B21CA0E4F400E42C3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEA0D6BD1CA0E4F400E42C3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
